<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="All tests">
			<directory>./tests/</directory>
			<exclude>./src/l10nNetteTranslator/Templates</exclude>
			<exclude>./data</exclude>
		</testsuite>
	</testsuites>
</phpunit>
